services:
  - type: web
    name: firmanager-frontend
    env: static
    buildCommand: chmod +x build.sh && bash build.sh
    staticPublishPath: frontend/build
    envVars:
      - key: NODE_VERSION
        value: 20
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
